@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/avenir-next-regular.woff') format('woff');
  font-weight: normal; 
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url('../fonts/avenir-next-bold.woff') format('woff');
  font-weight: normal; 
  font-style: normal;
}

@font-face {
  font-family: 'AndaleMono';
  src: url('../fonts/Andale-Mono.woff') format('woff');
  font-weight: normal; 
  font-style: normal;
}