.navigation {
  width: 414px;
  background-color: #0e0e0e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: AvenirNextBold;
  font-size: 24px;
}

.navigation a {
  text-decoration: none;
}

.navigation .menu {
  margin-top: 148px;
}

.navigation .menu,
.navigation .menu .submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation .menu .submenu {
  margin-top: 32px;
  margin-bottom: 30px;
  font-family: AndaleMono;
}

.navigation .menu .menu-item,
.navigation .menu .submenu-item {
  color: #3c3c3c;
}

.navigation .menu .submenu-item:first-child {
  color: #fff;
}

.navigation .menu .menu-item {
  font-weight: bold;
  margin-bottom: 29px;
}

.navigation .menu .has-submenu {
  color: #fff;
  position: relative;
}

.navigation .menu .has-submenu::before {
  content: '';
  display: block;
  background-image: url('./dropdown.svg');
  position: absolute;
  width: 14px;
  height: 9px;
  right: -20px;
  top: 10px;
}

.navigation .menu .submenu-item {
  margin-bottom: 26px;
}